user                    = "user"
user_password           = "password"
user_root               = "root@pam"
user_root_password      = "rootpassword"

pve_host_ip                 = "192.168.1.XXX"
pve_host_node               = "pve"

pve_api_url                 = "https://192.168.1.XXX:8006/api2/json"
pve_api_token_id            = "root@pam!terraform"
pve_api_token_secret        = "TOKEN_GOES_HERE"

network_ip_prefix       = "192.168.1."
network_gateway         = "192.168.1.1"