---
x-resource-limits:
    small: &limits-small
        mem_limit: 256m
        cpus: "0.50"
        pids_limit: 256
    medium: &limits-medium
        mem_limit: 512m
        cpus: "1.00"
        pids_limit: 512
    large: &limits-large
        mem_limit: 1g
        cpus: "1.50"
        pids_limit: 768
    plex: &limits-plex
        mem_limit: 2g
        cpus: "2.50"
        pids_limit: 1024

x-common-config: &default-service
    labels:
        - "deunhealth.restart.on.unhealthy=true"
    environment: &default-environment
        PUID: "{{ puid }}"
        PGID: "{{ pgid }}"
        UMASK: "{{ umask }}"
        TZ: "{{ time }}"
    restart: unless-stopped

services:

    ## Media Hosts ##
    plex:
        <<: [*default-service, *limits-plex]
        image: "lscr.io/linuxserver/plex:latest"
        container_name: plex
        network_mode: host
        environment:
            <<: *default-environment
            VERSION: docker
        volumes:
            - {{ files.docker_config_path }}/plex:/config/Library/Application Support/Plex Media Server
            - {{ files.nfs_media_path }}:/share:ro
            - /tmp/plex_cache:/transcode
        devices:
            - /dev/dri:/dev/dri # Required for hardware transcoding

    romm:
        <<: [*default-service, *limits-medium]
        image: "rommapp/romm:latest"
        container_name: romm
        environment:
            DB_HOST: romm-db
            DB_NAME: romm
            DB_USER: "{{ sql.user }}"
            DB_PASSWD: "{{ sql.password }}"
            ROMM_AUTH_SECRET_KEY: "{{ romm.secret }}"
            SCREENSCRAPER_USER: "{{ romm.screenscraper.user }}"
            SCREENSCRAPER_PASSWORD: "{{ romm.screenscraper.password }}"
            RETROACHIEVEMENTS_API_KEY: "{{ romm.retroachievements.secret }}"
            STEAMGRIDDB_API_KEY: "{{ romm.steamgriddb.secret }}"
        volumes:
            - {{ files.docker_config_path }}/romm/config:/romm/config
            - {{ files.docker_config_path }}/romm/assets:/romm/assets
            - {{ files.docker_config_path }}/romm/resources:/romm/resources
            - {{ files.nfs_media_path }}/games:/romm/library
        ports:
            - {{ ports.romm }}:8080
        depends_on:
            romm-db:
                condition: service_healthy
                restart: true
    
    romm-db:
        <<: [*default-service, *limits-small]
        image: "mariadb:latest"
        container_name: romm-db
        environment:
            MARIADB_ROOT_PASSWORD: "{{ sql.password }}"
            MARIADB_USER: "{{ sql.user }}"
            MARIADB_PASSWORD: "{{ sql.password }}"
            MARIADB_DATABASE: romm
        volumes:
            - {{ files.docker_data_path }}/romm-db:/var/lib/mysql
        healthcheck:
            test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    ## Plex Managers ##

    tautulli:
        <<: [*default-service, *limits-small]
        image: "lscr.io/linuxserver/tautulli:latest"
        container_name: tautulli
        depends_on: [plex]
        environment:
            <<: *default-environment
            VERSION: docker
        volumes:
            - {{ files.docker_config_path }}/tautulli:/config
        ports:
            - {{ ports.tautulli }}:8181

    kometa:
        <<: [*default-service, *limits-large]
        image: "kometateam/kometa:latest"
        container_name: kometa
        depends_on: [plex, sonarr, radarr]
        environment:
            TZ: "{{ time }}"
            KOMETA_TIME: 00:00,06:00,12:00,18:00
            KOMETA_CONFIG: /config/config.yml
        volumes:
            - {{ files.docker_config_path }}/kometa:/config

    ## Metadata Agents ##

    radarr:
        <<: [*default-service, *limits-medium]
        image: "lscr.io/linuxserver/radarr:latest"
        container_name: radarr
        depends_on: [prowlarr]
        volumes:
            - {{ files.docker_config_path }}/radarr:/config
            - {{ files.nfs_media_path }}:/share
        ports:
            - {{ ports.radarr }}:7878

    sonarr:
        <<: [*default-service, *limits-medium]
        image: "lscr.io/linuxserver/sonarr:latest"
        container_name: sonarr
        depends_on: [prowlarr]
        volumes:
            - {{ files.docker_config_path }}/sonarr:/config
            - {{ files.nfs_media_path }}:/share
        ports:
            - {{ ports.sonarr }}:8989

    prowlarr:
        <<: [*default-service, *limits-medium]
        image: "lscr.io/linuxserver/prowlarr:latest"
        container_name: prowlarr
        volumes:
            - {{ files.docker_config_path }}/prowlarr:/config
        ports:
            - {{ ports.prowlarr }}:9696

    flaresolverr:
        <<: [*default-service, *limits-medium]
        image: "flaresolverr/flaresolverr:latest"
        container_name: flaresolverr
        environment:
            TZ: "{{ time }}"
            LOG_LEVEL: info
            LOG_HTML: "false"
            CAPTCHA_SOLVER: none
        volumes:
            - {{ files.docker_config_path }}/flaresolverr:/config
        ports:
            - {{ ports.flaresolverr }}:8191

    recyclarr:
        <<: [*default-service, *limits-small]
        image: "ghcr.io/recyclarr/recyclarr:8"
        container_name: recyclarr
        user: "{{ puid }}:{{ pgid }}"
        environment:
            TZ: "{{ time }}"
            CRON_SCHEDULE: "{{ recyclarr_cron_schedule }}"
        volumes:
            - {{ files.docker_config_path }}/recyclarr:/config

    ## Download Clients ##

    qbittorrent:
        <<: [*default-service, *limits-large]
        image: "lscr.io/linuxserver/qbittorrent:latest"
        container_name: qbittorrent
        network_mode: "service:gluetun"
        environment:
            <<: *default-environment
            WEBUI_PORT: "{{ ports.qbittor_ui }}"
            TORRENTING_PORT: "{{ ports.qbittor_io }}"
        volumes:
            - {{ files.docker_config_path }}/qbittorrent:/config
            - {{ files.nfs_media_path }}:/share
            - /tmp/incomplete/torrent:/incomplete

    sabnzbd:
        <<: [*default-service, *limits-large]
        image: "lscr.io/linuxserver/sabnzbd:latest"
        container_name: sabnzbd
        network_mode: "service:gluetun"
        volumes:
            - {{ files.docker_config_path }}/sabnzbd:/config
            - {{ files.nfs_media_path }}:/share
            - /tmp/incomplete/usenet:/incomplete

    gluetun:
        <<: [*default-service, *limits-small]
        image: "qmcgaw/gluetun:latest"
        container_name: gluetun
        cap_add: [NET_ADMIN]
        devices:
            - /dev/net/tun:/dev/net/tun
        environment:
            TZ: "{{ time }}"
            VPN_SERVICE_PROVIDER: "{{ tokens.gluetun.provider }}"
            VPN_TYPE: "{{ tokens.gluetun.type }}"
            WIREGUARD_PRIVATE_KEY: "{{ tokens.gluetun.key }}"
            SERVER_COUNTRIES: United States
            BLOCK_MALICIOUS: "off"
            DNS_ADDRESS: 1.1.1.1
        volumes:
            - {{ files.docker_config_path }}/gluetun:/config
        ports:
            - {{ ports.qbittor_ui }}:{{ ports.qbittor_ui }}
            - {{ ports.qbittor_io }}:{{ ports.qbittor_io }}
            - {{ ports.sabnzbd }}:8080
        restart: always